<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/global.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <title>WeAreTogether</title>
</head>

<body>
    <div class="container">


        <nav class="gnb_content">
            <ul class="gnb">
                <li class="item">
                    로그인
                </li>
                <li class="item">
                    그룹
                </li>
            </ul>
        </nav>
        <section>

        </section>
    </div>
</body>

</html>