<nav id="user_tab" class="gnb">
    <ul id="gnb_contents" class="list_contents">
        <li id="gnb_1" class="list_item">
            <a href="#">내 정보</a>
        </li>
        <li id="gnb_2" class="list_item">
            <a href="#">그룹</a>
        </li>
        <li id="gnb_3" class="list_item">
            <a href="#">메시지</a>
        </li>
    </ul>
</nav>